.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__menu {
  display: none;
}

/* xs */
/* @media(min-width: 475px) {} */

/* sm */
@media (min-width: 640px) {
  .header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }
  .header__link {
    font-size: var(--size-base);
    text-decoration: none;
    font-weight: 700;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }
}

/* md */
/* @media(min-width: 768px) {} */

/* lg */
/* @media(min-width: 1024px) {} */

/* xl */
@media(min-width: 1280px) {
    .header__link {
        font-size: var(--size-xl);
        text-decoration: none;
        font-weight: 600;
        color: var(--clr-slate600);
        letter-spacing: -0.05em;
        transition: color 0.3s;
      }
}

/* 2xl */
/* @media(min-width: 1536px) {} */
