@import url(./../style.css);
@import url(./../utils.css);

.intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.intro__img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.intro__title {
  color: var(--clr-slate600);
  text-transform: capitalize;
  font-size: var(--size-base);
}

.intro__desc {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  line-height: 0.9;
  letter-spacing: -0.05em;
}

.intro__para {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.intro__btn {
  text-transform: capitalize;
  font-size: var(--size-sm);
}

/* xs */
@media (min-width: 475px) {
  .intro {
    gap: 1.5rem;
  }
  
  .intro__img {
    height: 6.5rem;
    width: 6.5rem;
  }
  
  .intro__title {
    font-size: var(--size-lg);
  }
  
  .intro__desc {
    font-size: var(--size-5xl);
  }
  
  .intro__para {
    font-size: var(--size-base);
  }
  
  .intro__btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .intro {
    text-align: justify;
  }
  h2 {
    font-size: var(--size-5xl);
  }
  .intro__para {
    font-size: var(--size-2xl)
  }
  .btn {
    margin: 2rem auto;
    font-size: var(--size-3xl);    
  }
}

/* lg */
@media (min-width: 1024px) {
  
  .intro__img {
    height: 8rem;
    width: 8rem;
  }
  
  .intro__title {
    font-size: var(--size-2xl);
  }
  
  .intro__desc {
    font-size: var(--size-7xl);
  }
  
  .intro__para {
    font-size: var(--size-lg);
  }
  
  .intro__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  
  .intro {
    gap: 2rem;
  }

  .intro__img {
    height: 10rem;
    width: 10rem;
  }
  
  .intro__title {
    font-size: var(--size-4xl);
  }
  
  .intro__desc {
    font-size: var(--size-9xl);
  }
  
  .intro__para {
    font-size: var(--size-xl);
  }
  
  .intro__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
