@import url(./../style.css);

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 0.75rem auto;
    font-size: var(--size-3xl);
}

.intro__para {
    font-size: var(--size-lg);
    text-align: center;
    margin: 0.75rem auto;
}

.btn {
    margin: 1rem auto;
    font-size: var(--size-lg);
}